@model nec.nexu.Models.CustomBackground

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomBackground</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThumbnailPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThumbnailPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductTemplateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductTemplateId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HierarchyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HierarchyId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = ViewData.Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
