@model IEnumerable<nec.nexu.Models.CustomBackground>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.ActionLink("Admin Dashboard", "Index", "Home")
</div>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FilePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThumbnailPath)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ProductTemplateId)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.HierarchyId)*@
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FilePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThumbnailPath)
                </td>
                <td>
                   @* @Html.DisplayFor(modelItem => item.ProductTemplateId)*@
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.HierarchyId)*@
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>

