@model nec.nexu.Models.FabricContentType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FabricContentType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FccCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FccCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
