@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modify Configurator Translations</h2>

<ul>
    <li>@Html.ActionLink("Translate Region Groups","RegionGroup","Translation")</li>
    <li>@Html.ActionLink("Translate Designs","Design","Translation")</li>
    <li>@Html.ActionLink("Translate Materials","Material","Translation")</li>
    <li>@Html.ActionLink("Translate Design Locations","DesignLocation","Translation")</li>
    <li>@Html.ActionLink("Translate Color Containers","ColorContainer","Translation")</li>
</ul>