@model nec.nexu.site.admin.Models.RoalMapViewModel<nec.nexu.Models.roal.MaterialToRoal>

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend></legend>
    <div class="display-label">
        Nexu Material
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NexuDisplayName)
    </div>

    <div class="display-label">
         ROAL Fabric
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoalDisplayName)
    </div>
    <div class="display-label">
         ROAL Stitch
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoalDisplayName2)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
