@model nec.nexu.Models.rules.ColorwayRule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ColorwayRule</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserMessage)
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DesignId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesignId)
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
